.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}

.app-top-menu {
  background-color:rgb(30, 33, 42) ;
  color: #fff;
}

.app-sidenav {
  width: 230px;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
